Test002/.vs/
Test002/Test002/obj/
C#AccessModifierr/C#AccessModifierr/obj/
C#AccessModifierr/.vs/C#AccessModifierr/FileContentIndex/
C#AccessModifierr/.vs/C#AccessModifierr/DesignTimeBuild/
C#AccessModifierr/.vs/C#AccessModifierr/v17/
